.about {
  margin: 0;
  margin-top: 120px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 79px;
  
}

.about__text {
  margin: 0;
  padding: 0;
  max-width: 346px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about__text-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
}

.about__text-article {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

